# Database
DATABASE_URL="postgresql://panoptes:password@localhost:5432/panoptes"

# NextAuth
NEXTAUTH_URL="https://panoptes.blinkpharmacie.ma"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# Admin credentials
ADMIN_EMAIL="ali.sami@blinkpharmacie.com"
ADMIN_PASSWORD="change-this-strong-password"

# SMTP (email)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="noreply@blinkpharmacie.ma"
SMTP_PASS="your-smtp-password"

# App URL
NEXT_PUBLIC_APP_URL="https://panoptes.blinkpharmacie.ma"
